<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/payment.css">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <title>Project</title>
</head>
<body>
    <div class="container ">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success  %>
            </div>
        <% } %>
    </div>
    <div class="process">
        <ul>
            <li>
                <i class="fas fa-clipboard-list fa-3x imp"></i>
                <p>
                    <i class="fas fa-check showLine"></i>
                </p> 
                <p>
                    Registration
                </p>
            </li>
            <li>
                <i class="far fa-credit-card fa-3x imp"></i>
                <% if(!student.payment){ %>
                    <p>
                        <i class="fas fa-sync-alt showLine"></i>
                    </p>
                <% }else{ %>
                    <p>
                        <i class="fas fa-check showLine"></i>
                    </p>
                <% } %>
                 
                <p>
                    Payment
                </p>
            </li>
            </li>
            <li>
                <i class="fas fa-user-check fa-3x imp" style="padding-left: 16px;"></i>
                <p>
                    <i class="fas fa-times showLine"></i>
                </p>
                <p>
                    Guide Approval
                </p>
            </li>
        </ul>
    </div>
    <div class="jumbotron">
        <h1>
            Payment Portal
        </h1>
        <a href="/logout">
            Logout
        </a>
        <br>
    </div>
    
    <br>

    <% if(student.payment){ %>
        <p class="display-1">Already Paid</p>
        <a href="/student/<%=student._id%>/approval" class="btn btn-primary">Next</a>
    <% }else{ %>
        <p class="display-1">Pay up bois</p>
        <form action="/student/<%=student._id%>/payment" method="post">
            <button class="btn btn-primary">
                Pay
            </button>
        </form>
    <% } %>
    
<br>



   

<!-- <script src="/JavaScript/payment.js"></script> -->
<%- include("partials/footer") %>
